<div class="banner">
  <div class="banner-content">
    <h1>Cocktail App</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>
<h2 class="text-center">Here are our existing cocktails</h2>

<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card">
        <%= link_to cocktail_path(cocktail) do %>
          <% if cocktail[:photo].nil? %>
            <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'default_cocktail.jpg', alt: 'Cocktail' %>')">
            </div>
          <% else %>
              <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
              </div>
          <% end %>
          <div class="card-desc">
            <h2><%= cocktail.name.capitalize %></h2>
            <p>Very cool recipe of the <%= cocktail.name.capitalize %></p>
          </div>
          <div class="card-footer">
            <p><%= Time.now.strftime("%d/%m/%Y") %></p>
            <div class="card-icons">
              <ul class="list-inline">
                <li><a class="icon" href="#"><i class="fa fa-heart"></i></a></li>
                <li><a class="icon" href="#"><i class="fa fa-share"></i></a></li>
                <li><a class="icon" href="#"><i class="fa fa-star"></i></a></li>
              </ul>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

